.nav {
    padding: 30px;
    z-index: 999;
    border-bottom: 1px solid lightgray;
    height: 80px;
}


.nav-trends {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

}

.nav-trends > h3 {
    color: #007156;
}



.nav-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    
    
}